[Unit]
Description=Hadoop Daemon
Before=spark.service

[Service]
Type=simple
User=vagrant
ExecStart=/usr/local/hadoop/sbin/start-all.sh
RemainAfterExit=yes
ExecStop=/usr/local/hadoop/sbin/stop-all.sh

[Install]
WantedBy=default.target