[Unit]
Description=Apache Storm Nimbus
After=hadoop.service

[Service]
Type=simple
User=vagrant
ExecStart=/usr/local/storm/bin/storm nimbus
RemainAfterExit=yes

[Install]
WantedBy=default.target